@font-face {
  font-family: "iconfont"; /* Project id 4039767 */
  src: url('iconfont.woff2?t=1683099167594') format('woff2'),
       url('iconfont.woff?t=1683099167594') format('woff'),
       url('iconfont.ttf?t=1683099167594') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e70e";
}

.icon-zhanshijia:before {
  content: "\e63b";
}

.icon-shenhe:before {
  content: "\e6a1";
}

.icon-chuangjianhuati:before {
  content: "\e64b";
}

.icon--zhanshiping:before {
  content: "\e618";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-houtaiguanli-fabugonggao:before {
  content: "\e6d8";
}

.icon-yonghufankui:before {
  content: "\e625";
}

.icon-yonghuguanli:before {
  content: "\e66e";
}

.icon-yingxiao:before {
  content: "\e7c0";
}

.icon-chuangjianfuwu:before {
  content: "\e60f";
}

.icon-gonggao:before {
  content: "\e609";
}

.icon-yuangongfenpei:before {
  content: "\e61e";
}

.icon-liushihuiyuan:before {
  content: "\e6ca";
}

.icon-zidianguanli:before {
  content: "\e624";
}

.icon-kehuxinxi:before {
  content: "\e606";
}

.icon-shujufenxi-baobeifenxi:before {
  content: "\e600";
}

.icon-guidang:before {
  content: "\e6dd";
}

.icon-kehufuwufenxi:before {
  content: "\e62b";
}

.icon-chuli:before {
  content: "\e64c";
}

.icon-yonghuguanli1:before {
  content: "\e64d";
}

.icon-fabugonggao:before {
  content: "\e662";
}

.icon-fangliushiyujing:before {
  content: "\e66a";
}

.icon-yewujihui:before {
  content: "\e605";
}

.icon-board-full:before {
  content: "\e855";
}

.icon-xitongguanli:before {
  content: "\e603";
}

.icon-chuizi:before {
  content: "\e617";
}

.icon-1-jichufuwuguanli:before {
  content: "\e62f";
}

.icon-caidanlan-kehu-kehulianxiren:before {
  content: "\e64f";
}

.icon-yuangonggoucheng:before {
  content: "\e615";
}

.icon-kehudingdan:before {
  content: "\e630";
}

.icon-fenxi:before {
  content: "\ea3f";
}

